<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Configuration of ABR Rules</title>

    <script src="http://cdn.dashjs.org/latest/dash.all.debug.js"></script>

    <style>
        video {
            width: 1920px;
            height: 1080px;
        }
    </style>

    <script class="code">
        var video_name = '{{video}}';
        var video,
            player,
            url = 'http://{{video_server}}/' + video_name +  "/h264.mpd";

        console.log(url);
        console.log(video_name);
        function setVideo() {
          url = document.getElementById("videoUrl").value
          player.initialize(video, url, true);
        }

        function setABR() {
            player.updateSettings({
                streaming: {
                    abr: {
                        useDefaultABRRules: false,
                        ABRStrategy: document.getElementById("ABRStrategy").value,
                        additionalAbrRules: {
                            insufficientBufferRule: true,
                            switchHistoryRule: false,
                            droppedFramesRule: false,
                            abandonRequestsRule: false
                        }
                    }
                }
            });
        }

        var data = {
            durationHistory: [],
            profileHistory: [],
            bufferLevelHistory: [],
        };

        // abrBola, abrDynamic, abrL2A, abrThroughput, abrLoLP 
        function init() {
            video = document.querySelector("video");
            player = dashjs.MediaPlayer().create();

            player.updateSettings({
                streaming: {
                    abr: {
                        useDefaultABRRules: false,
                        ABRStrategy: '{{strategy}}',
                        additionalAbrRules: {
                            insufficientBufferRule: true,
                            switchHistoryRule: false,
                            droppedFramesRule: false,
                            abandonRequestsRule: false
                        }
                    }
                }
            });

            player.setAutoPlay(true);
            player.extend("SegmentResponseModifier", function () {
            return {
                modifyResponseAsync: function (chunk) {
                    if (chunk.segmentType == 'MediaSegment') {
                      console.log(chunk)
                      console.log(chunk.duration)
                      data.durationHistory.push(chunk.duration)
                      console.log(chunk.mediaInfo.bitrateList.find((e) => e.id == chunk.representationId))
                      data.profileHistory.push(chunk.mediaInfo.bitrateList.find((e) => e.id == chunk.representationId))
                    }
                    chunk.customAttribute = 'customAttribute';
                    return Promise.resolve(chunk)
                }
            };
            });


            var sent = false;

            video.addEventListener('ended', function() {
              console.log('Video has finished playing');
              var mob = '{{mobility}}';
              var los = '{{los}}';
              console.log(mob, los)

              fetch("/stats", {
                method: "POST",
                body: JSON.stringify({  "history": data, 
                                        "abr": player.getSettings().streaming.abr.ABRStrategy, 
                                        "mobility": mob, 
                                        "los": los,
                                        "video": video_name
                                        }),
                headers: {
                  "Content-type": "application/json; charset=UTF-8"
                }
              }).then((response) => console.log(response));
              console.log("Sent to /stats");
            });

            setInterval(function () {
                var dashMetrics = player.getDashMetrics();
                var dashAdapter = player.getDashAdapter();

                var streamInfo = player.getActiveStream() ? player.getActiveStream().getStreamInfo() : null;
                var repSwitch = dashMetrics.getCurrentRepresentationSwitch('video', true);

                if (streamInfo && repSwitch) {
                  const periodIdx = streamInfo.index;
                  var bitrate = repSwitch ? Math.round(dashAdapter.getBandwidthForRepresentation(repSwitch.to, periodIdx) / 1000) : NaN;
                  var bufferLevel = parseFloat(dashMetrics.getCurrentBufferLevel('video')).toFixed(2);
                  var adaptation = dashAdapter.getAdaptationForType(periodIdx, 'video', streamInfo);
                  var currentRep = adaptation.Representation_asArray.find(function (rep) {
                    return rep.id === repSwitch.to
                  })
                  var frameRate = currentRep.frameRate;
                  var resolution = currentRep.width + 'x' + currentRep.height;

                  data.bufferLevelHistory.push(bufferLevel);
                }
              }, 100);

            player.initialize(video, url, true);
        }
    </script>
</head>

<body>

  <main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
      </header>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
          <video controls="true"></video>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div id="code-output"></div>
        </div>
      </div>

      <!-- <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
        </form> -->

    </div>
  </main>


  <script>
    document.addEventListener('DOMContentLoaded', function () {
      init();
    });
  </script>
</body>

</html>
